<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form id="" action="/bikes" method="POST">
      <label>Brand:</label>
      <input type="text" name="brand" />
      <label>Model:</label>
      <input type="text" name="model" />
      <label>Year:</label>
      <input type="number" name="year" />
      <label>Engine(cc):</label>
      <input type="number" name="engine" />
      <input type="submit" value="Add Bike" />
    </form>
  </body>
</html>
